body {
    background-color: #000;
}

@keyframes rainbowBorder {
    0%   { border: 2px solid #f00; }
    20%  { border: 2px solid #ff0; }
    30%  { border: 2px solid #0f0; }
    40%  { border: 2px solid #0ff; }
    60%  { border: 2px solid #00f; }
    80%  { border: 2px solid #f0f; }
    100% { border: 2px solid #f00; }
}

@keyframes rainbowDarkBarBase {
    0%   { background-color: #200; }
    20%  { background-color: #220; }
    30%  { background-color: #020; }
    40%  { background-color: #022; }
    60%  { background-color: #002; }
    80%  { background-color: #202; }
    100% { background-color: #200; }
}

@keyframes rainbowDarkBarFill {
    0%   { background-color: #400; }
    20%  { background-color: #440; }
    30%  { background-color: #040; }
    40%  { background-color: #044; }
    60%  { background-color: #004; }
    80%  { background-color: #404; }
    100% { background-color: #400; }
}

@keyframes kuaraniaiBorder {
    0%   { border: 4px solid #40f; }
    50%  { border: 4px solid #c0c; }
    100% { border: 4px solid #40f; }
}

@keyframes kuaraniaiBGColor {
    0%   { background-color: #20008080; }
    50%  { background-color: #40004080; }
    100% { background-color: #20008080; }
}

@keyframes kuaraniaiBGColorHovered {
    0%   { background-color: #4000FF60; }
    50%  { background-color: #80008060; }
    100% { background-color: #4000FF60; }
}

.rainbowBorder {
    animation-name: rainbowBorder;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.rainbowDarkBarBase {
    animation-name: rainbowDarkBarBase;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.rainbowDarkBarFill {
    animation-name: rainbowDarkBarFill;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.kuaraniaiBorder {
    animation-name: kuaraniaiBorder;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.kuaraniaiBGColor {
    animation-name: kuaraniaiBGColor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.kuaraniaiBGColor:hover {
    animation-name: kuaraniaiBGColorHovered;
}

::-webkit-scrollbar {
    width: 24px;
}

::-webkit-scrollbar-track {
    background: #29343a;
}

::-webkit-scrollbar-thumb {
    background: #c0c4c8;
}

::-webkit-scrollbar-thumb:hover {
    background: #e5eaf1;
}

.flex-container {
    display: flex;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whiteText {
    color: #fff;
}

.blackText {
    color: #000;
}

.yellowText {
    color: #ff0;
}

.grayShadow {
    text-shadow: 2px 2px grey;
}

.fontVerdana {
    font-family: "Verdana";
}

.fontTrebuchetMS {
    font-family: 'Trebuchet MS', sans-serif;
}

.hide {
    display: none;
}

.tabButton {
    height: 40px; 
    width: 125px; 
    font-size: 16px; 
    margin: 2px;
}

.normalTabButton {
    color: #ffffff;
    background-color: #80808080;
    border: 3px solid #ffffff;
    transition-duration: 0.2s;
}

.normalTabButton:hover {
    background-color: #c0c0c080; 
}

.kuaTabButton {
    color: #ffffff;
    background-color: #51008680;
    border: 3px solid #b700ff;
    transition-duration: 0.2s;
}

.kuaTabButton:hover {
    background-color: #9900ff80; 
    border: 3px solid #da7eff;
}

.colTabButton {
    color: #ffffff;
    background-color: #86310080;
    border: 3px solid #ff4800;
    transition-duration: 0.2s;
}

.colTabButton:hover {
    background-color: #ff5e0080; 
    border: 3px solid #ffbc7e;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.mediumText {
    font-size: 16px;
}

.mediumBigText {
    font-size: 24px;
}

.bigText {
    font-size: 40px;
}

.buyableButton {
    transition-duration: 0.2s;
    background-color: #1c2024;
}

.buyableButton:hover {
    background-color: #384048;
}

.kuaUpgradeButton {
    transition-duration: 0.2s;
    background-color: #8000ff80;
}

.kuaUpgradeButton:hover {
    background-color: #8000ffc0;
}

.buyableAutoButton {
    transition-duration: 0.2s;
    border: 4px solid #384048;
}

.buyableAutoButton:hover {
    border: 4px solid #515c68;
}

.saveListMiniButton {
    padding-left: 2.5px;
    padding-right: 2.5px;
    padding-top: 0.4px;
    padding-bottom: 0.4px;
    font-size: 12px;
    margin: 4px;
}

.saveListTopText {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 1.2vw;
}

.relativeFullWidth {
    position: relative;
    width: 100%;
}

.absolute-text {
    position: absolute;
}

.centered-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.smallColBorder {
    border: 2px solid #ff4000;
}

.smallColBorder:hover {
    border: 2px solid #ff9775;
}

.normColBorder {
    border: 4px solid #ff4000;
}

.normColBorder:hover {
    border: 4px solid #ff9775;
}

.normColBorderProg {
    border: 4px solid #fffb00;
}

.normColBorderProg:hover {
    border: 4px solid #fffd75;
}

.normColBorderComp {
    border: 4px solid #00ff0d;
}

.normColBorderComp:hover {
    border: 4px solid #8cff75;
}

.colButtonHeader {
    transition-duration: 0.2s;
    background-color: #521400;
}

.colButtonDesc {
    transition-duration: 0.2s;
    background-color: #631900;
}

.colButtonRew {
    transition-duration: 0.2s;
    background-color: #8d2300;
}

.colButtonProg {
    transition-duration: 0.2s;
    background-color: #616300;
    box-shadow: 0 0 6px 2px rgb(66, 54, 0);
}

.colButtonHeaderProg {
    transition-duration: 0.2s;
    background-color: #524300;
}

.colButtonDescProg {
    transition-duration: 0.2s;
    background-color: #634900;
}

.colButtonRewProg {
    transition-duration: 0.2s;
    background-color: #8d7800;
}

.colButtonComp {
    transition-duration: 0.2s;
    background-color: #006319;
    box-shadow: 0 0 6px 2px rgb(0, 66, 6);
}

.colButtonHeaderComp {
    transition-duration: 0.2s;
    background-color: #005204;
}

.colButtonDescComp {
    transition-duration: 0.2s;
    background-color: #006300;
}

.colButtonRewComp {
    transition-duration: 0.2s;
    background-color: #108d00;
}


.colosseum-container {
    position: relative;
    width: 100%;
    color: white;
}

.colButton {
    transition-duration: 0.2s;
    border: 4px solid #ff4000;
    box-shadow: 0 0 10px 2px rgb(66, 17, 0);
}

.colButton:hover {
    border: 4px solid #ff9b7a;
    box-shadow: 0 0 20px 2px #8f2400;
    cursor: pointer;
}

.colButtonProg:hover {
    background-color: #7a6e00;
    box-shadow: 0 0 20px 2px #8f6e00;
    cursor: pointer;
}

.colButtonComp:hover {
    background-color: #187a00;
    box-shadow: 0 0 20px 2px #188f00;
    cursor: pointer;
}

/* .text {
    display: inline;
}

.mediumButton {
    width: 12vw;
    height: 9vw;
}

.thinMediumButton {
    width: 12vw;
    height: 2.5vw;
}

.largeButton {
    width: 18vw;
    height: 12vw;
}

.thinLargeButton {
    width: 18vw;
    height: 4vw;
}

.autoButton {
    transition-duration: 0.2s;
    background-color: #1c2024;
}

.generatorButton {
    transition-duration: 0.2s;
    background-color: #1c2024;
}

.generatorButton:hover {
    background-color: #384048;
    cursor: pointer;
}

.generatorButtonSelected {
    transition-duration: 0.2s;
    background-color: #404952;
}

.generatorButtonSelected:hover {
    background-color: #5b6774;
    cursor: pointer;
}

.kuaButton {
    transition-duration: 0.2s;
    background-color: #411853;
    cursor: pointer;
}

.smallTaxBorder {
    border: 0.15vw solid #ffd900;
}

.smallTaxBorder:hover {
    border: 0.15vw solid #fff2a7;
}

.normTaxBorder {
    border: 0.36vw solid #ffd900;
}

.normTaxBorder:hover {
    border: 0.36vw solid #fff2a7;
}

.smallGroBorder {
    border: 0.15vw solid #c36100;
}

.smallGroBorder:hover {
    border: 0.15vw solid #ffa060;
}

.normGroBorder {
    border: 0.36vw solid #c36100;
}

.normGroBorder:hover {
    border: 0.36vw solid #ffa060;
}


.taxButton {
    transition-duration: 0.2s;
    background-color: #634c00;
    box-shadow: 0 0 0.8vw 2px rgb(66, 54, 0);
}

.taxButton:hover {
    background-color: #7a6800;
    box-shadow: 0 0 20px 2px #8f7a00;
    cursor: pointer;
}

.groButton {
    transition-duration: 0.2s;
    background-color: #632f00;
    box-shadow: 0 0 0.8vw 2px rgb(66, 26, 0);
}

.groButton:hover {
    background-color: #7a3900;
    box-shadow: 0 0 20px 2px #8f3f00;
    cursor: pointer;
}

.kuaButton:hover {
    background-color: #610986;
} */

.alert {
    box-shadow: 0 0 16px 2px #c00000;
}

.warning {
    box-shadow: 0 0 16px 2px #c0c000;
}

.cannotClick {
    cursor: not-allowed;
}

.canClick {
    cursor: pointer;
}

.cannot {
    border: 4px solid #400;
}

.cannot:hover {
    border: 4px solid #600;
    box-shadow: 0 0 16px 4px #300000;
}

.can {
    border: 4px solid #040;
    box-shadow: 0 0 16px 4px #002000;
}

.can:hover {
    border: 4px solid #0f0;
    box-shadow: 0 0 16px 6px #008000;
}

.complete {
    border: 4px solid #008;
    box-shadow: 0 0 16px 4px #000040;
}

.complete:hover {
    border: 4px solid #00f;
    box-shadow: 0 0 16px 6px #000080;
}

.nopeFill {
    background-color: #400;
}

.nopeFill:hover {
    background-color: #800;
}

.okFill {
    background-color: #040;
}

.okFill:hover {
    background-color: #080;
}

/* .kuaButton2 {
    transition-duration: 0.2s;
    border: 2px solid #b900ff;
    background-color: #4d008b;
}

.kuaButton2:hover {
    border: 2px solid #ca37ff;
    background-color: #5f00ad;
} */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 450px;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border: 2px solid #fff;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -2px;
    border-width: 2px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 8px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #04aa6d; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #04aa6d; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.colSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #ff5100; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.colSlider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #ff5100; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* taken from TMT ig */
.popup {
    border: 4px solid;
    width: 300px;
    min-height: 60px;
    color: #000000;
    display: block;
    margin-top: 5px;
    border-color: rgba(0, 0, 0, 0.25);
}

.popup-container {
    position: absolute;
    margin-top: 55px;
    z-index: 9999999999999999999999999999999999;
    right: 15px;
    width: 300px;
}