<!doctype html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="/the rpg project!!!.ico">
        <link href="src/style.css" rel="stylesheet" type="text/css">
        <title>TearonQ's Incremental</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="app">
            <canvas ref="canvas" id="canvas" style="height: 100vh; width: 100vw; position: absolute; top: 0px; left: 0px; z-index: -2;"></canvas>
            <div id="offlineTime">
                <div style="display: flex; flex-direction: column; align-items: center">
                    <span class="fontTrebuchetMS whiteText" style="font-size: 16px">You are in offline time.</span>
                    <span class="fontTrebuchetMS whiteText" style="font-size: 16px" id="offlineTimeDisplay"></span>
                    <div id="offlineTimeProgress" style="height: 20px; width: 800px; position: relative; margin: 2px">
                        <div id="offlineTimeProgressBarBase" style="background-color: #404040; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"></div>
                        <div id="offlineTimeProgressBar" style="background-color: #c0c0c0; position: absolute; top: 0; left: 0; height: 100%"></div>
                    </div>
                </div>
            </div>

            <div id="gameLoaded">
                <div id="popup-container" class="popup-container"></div>
                <div class="flex-container" style="background-color: #ffffff20">
                    <div style="flex-grow: 1; flex-basis: 0; text-shadow: #ffffff 0px 0px 2px;" class="alignLeft bigText whiteText fontTrebuchetMS">
                        <span id="pointCounter"></span> Points
                    </div>
                    <div style="flex-grow: 0.5; flex-basis: 0; text-shadow: #ffff00 0px 0px 1px;" class="alignCenter mediumBigText yellowText fontTrebuchetMS">
                        FPS: <span id="fpsCounter"></span>
                    </div>
                    <div style="flex-grow: 1; flex-basis: 0; text-shadow: #ffffff 0px 0px 2px;" class="alignRight bigText whiteText fontTrebuchetMS">
                        <span id="ppsCounter"></span>/s
                    </div>
                </div>
                <div class="flex-container">
                    <div style="font-size: 16px" class="whiteText grayShadow fontTrebuchetMS">
                        Time since last save: <span id="timeSinceSave"></span>
                    </div>
                </div>
                <div id="tabs" style="margin-bottom: 10px">
                    <div class="flex-horizontal" style="flex-wrap: wrap;">
                        <button id="buyableTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Buyables
                        </button>
                        <button id="upgradeTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Upgrades
                        </button>
                        <button id="kuaraniaiTabButton" class="fontTrebuchetMS canClick tabButton kuaTabButton">
                            Kuaraniai
                        </button>
                        <button id="optionTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Options
                        </button>
                        <button id="statTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Stats
                        </button>
                        <button id="achievementTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Achievements
                        </button>
                    </div>
                </div>
                <div id="options" class="flex-vertical">
                    <div class="flex-horizontal" style="flex-wrap: wrap; margin-bottom: 10px">
                        <button id="options-notesTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Notes
                        </button>
                        <button id="options-linksTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Links
                        </button>
                        <button id="options-savingTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Saving
                        </button>
                        <button id="options-otherTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Other Options
                        </button>
                        <button id="options-updateLogTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Update Log
                        </button>
                        <button id="options-cheatsTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                            Cheats
                        </button>
                    </div>
                    <div id="options-notes">
                        <div class="flex-horizontal">
                            <span class="fontTrebuchetMS whiteText" style="text-align: center">
                                <b>You may find some weird things in this incremental!</b><br>
                                This was a game mostly made for fun, and mostly for an incremental I wanted to make when I was bored.<br>
                                Genres: Abstract, Basic JS/HTML, Hybrid (Active/Idle)
                                <br>
                                Inspired by <span style="color: #a040ff">Jacorb</span>, <span style="color: #0c0">Hevipelle</span>, <span style="color: #c00">MrRedShark77</span>, and more!
                            </span>
                        </div>
                    </div>
                    <div id="options-links">
                        <div class="flex-horizontal">
                            <a href="https://github.com/QnoraeT/tearonq-inc-revamp-x4">
                                <button class="fontTrebuchetMS canClick normalTabButton" style="border: 0.24vw solid #c0c0c0; width: 200px; height: 60px; font-size: 16px">
                                    See the <span style='color: #c0c0c0'><b>source code</b></span> of the game on Github!
                                </button>
                            </a>
                        </div>
                    </div>
                    <div id="options-saving">
                        <div class="flex-horizontal">
                            <button id="options-saving-saveListTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                                Save List
                            </button>
                            <button id="options-saving-saveCreateTabButton" class="fontTrebuchetMS canClick tabButton normalTabButton">
                                Save Creation
                            </button>
                        </div>
                        <div id="options-saving-saveList">
                            <div class="flex-vertical">
                                <div class="flex-horizontal">
                                    <button id="manualSaveButton" class="fontTrebuchetMS canClick normalTabButton" style="width: 200px; height: 60px; font-size: 16px; margin: 2px;">
                                        Save Manually
                                    </button>
                                    <button id="autoSaveButton" class="fontTrebuchetMS canClick normalTabButton" style="width: 200px; height: 60px; font-size: 16px; margin: 2px;">
                                        Autosave Interval: <span id="autoSaveInterval"></span>
                                    </button>
                                </div>
                                <div class="flex-horizontal">
                                    <button id="exportSaveListButton" class="fontTrebuchetMS canClick normalTabButton" style="width: 200px; height: 60px; font-size: 16px; margin: 2px;">
                                        Export save list to clipboard.
                                    </button>
                                    <button id="importSaveListButton" class="fontTrebuchetMS canClick normalTabButton" style="width: 200px; height: 60px; font-size: 16px; margin: 2px;">
                                        Import save list.
                                    </button>
                                    <button id="importSaveFileButton" class="fontTrebuchetMS canClick normalTabButton" style="width: 200px; height: 60px; font-size: 16px; margin: 2px;">
                                        Import save file into new slot.
                                    </button>
                                    <button id="deleteSaveListButton" class="fontTrebuchetMS canClick normalTabButton" style="color: #f88; border: 0.2vw solid #f00; width: 200px; height: 60px; font-size: 16px; margin: 2px;">
                                        Delete the entire save list.
                                    </button>
                                </div>
                            </div>
                            <div class="flex-vertical" style="margin-left: auto; margin-right: auto; border: 4px solid #788088; background-color: #101418; width: 1000px; height: 800px;">
                                <div id="saveList" class="flex-vertical" style="overflow: auto; overflow-y: scroll; border: 3px solid #788088; height: 78%; width: 98%; margin-bottom: auto; margin-top: 1%;"></div>
                            </div>
                        </div>
                        <div id="options-saving-saveCreate">
                            <!-- <div class="flex-container" style="flex-direction: column; justify-content: center; align-items: center">
                                <span style="font-size: 1.1vw" class="fontVerdana whiteText">
                                    Your mode selection is currently:
                                    {{ displayModesNonOptArray(tmp.saveModes) }}
                                </span>
                                <div class="flex-container" style="flex-direction: row; justify-content: center">
                                    <button @click="createNewSave(tmp.saveModes)" class="whiteText fontVerdana generatorButton" style="margin: 0.25vw; border: 0.2vw solid #ffffff; height: 5vw; width: 12vw; font-size: 0.75vw;">
                                        Add new save.
                                        <span style="color: #ffff00">
                                            WARNING: None of the modes are implemented yet!
                                        </span>
                                    </button>
                                    <button @click="resetModes()" class="whiteText fontVerdana generatorButton" style="margin: 0.25vw; border: 0.2vw solid #ffffff; height: 5vw; width: 12vw; font-size: 0.75vw;">
                                        Reset Mode Selection
                                    </button>
                                </div>
                                <div class="flex-container" style="flex-direction: row; justify-content: center">
                                    <div style="display: flex; width: 60vw; flex-wrap: wrap; justify-content: center;">
                                        <div v-for="(item, index) in SAVE_MODES" :key="index" class="flex-container">
                                            <button
                                                @click="setTempModes(index)"
                                                class="whiteText fontVerdana tooltip"
                                                :style="{
                                                    color: item.textColor,
                                                    border: `0.12vw solid ${tmp.saveModes[index] ? item.borderSelectedColor : item.borderColor}`,
                                                    backgroundColor: colorChange(
                                                        item.bgColor,
                                                        tmp.saveModes[index] ? 2.0 : 1.0,
                                                        1.0
                                                    )
                                                }"
                                                style="margin: 0.2vw; height: 2.5vw; width: 8vw; font-size: 0.8vw;"
                                            >
                                                {{ item.name }}
                                                <span class="tooltiptext">
                                                    <span style="font-size: 0.6vw">{{ item.desc }}</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div id="options-other">
                        <div class="flex-horizontal">
                            <button id="notationSetButton" class="fontTrebuchetMS normalTabButton" style="width: 200px; height: 60px; font-size: 12px; margin: 2px;">
                                Switch Notation<br>
                                Currently: <select name="notations" id="notationList">
                                                <option value="0">Scientific</option>
                                                <option value="1">Engineering</option>
                                                <option value="2">Logarithm</option>
                                                <option value="3">Logarithm Delayed</option>
                                                <option value="4">Letters</option>
                                                <option value="5">Infinity</option>
                                            </select>
                            </button>
                            <div
                            class="whiteText fontTrebuchetMS normalTabButton flex-vertical"
                            style="padding: 0%; margin: 2px; width: 250px; height: 52px; border: 3px solid #fff;">
                                <div class="whiteText relativeFullWidth" style="height: 40%">
                                    <span style="position: absolute; left: 4px; top: 4px; font-size: 12px">Change when notation starts.</span>
                                    <span id="notationStartLimit" style="position: absolute; right: 4px; top: 4px; font-size: 12px"></span>
                                </div>
                                <div class="relativeFullWidth" style="height: 60%">
                                    <div class="slidecontainer" style="position: absolute; left: 3%; width: 94%;">
                                        <input id="notationLimitSlider" class="slider" style="padding: 0vw; margin: 0vw" type="range" min="3" max="9"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="flex-container" style="flex-direction: row; justify-content: center">
                            <Basic_Button @click="switchNotation()" :html="`Switch notation. Currently: ${NOTATION_LIST[player.settings.notation]}`"/>
                            <Basic_Button @click="player.settings.scaleSoftColors = !player.settings.scaleSoftColors" :html="`Show scaling/softcap colors. Currently: ${player.settings.scaleSoftColors}`"/>
                            <Basic_Button @click="player.settings.scaledUpgBase = !player.settings.scaledUpgBase" :html="`Show the upgrade's effect base. If false, will show the upgrade's exact effect. Currently: ${player.settings.scaledUpgBase}`"/>
                            <div
                            class="whiteText fontVerdana generatorButton"
                            style="padding: 0%; margin: 0.25vw; width: 14.28vw; height: 3vw; display: flex; flex-direction: column; border: 0.24vw solid #fff;">
                                <div class="first-cont" style="height: 40%">
                                    <span class="generic-text" style="left: 0.3vw; top: 0.3vw; font-size: 0.65vw" >Change when notation starts.</span>
                                    <span class="generic-text" style="right: 0.3vw; top: 0.3vw; font-size: 0.65vw" >{{ player.settings.notationLimit }} digits.</span>
                                </div>
                                <div class="second-cont" style="height: 60%">
                                    <div class="slidecontainer" style="position: absolute; left: 3%; width: 94%;">
                                        <input class="slider" style="padding: 0vw; margin: 0vw" type="range" v-model="player.settings.notationLimit" min="3" max="9"/>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div id="options-updateLog">
                        <!-- <div class="flex-container" style="flex-direction: column; align-items: center">
                            <span class="whiteText fontVerdana" style="font-size: 1.4vw"><b>Warning: This section of the game contains spoilers!</b></span><br>
                            <div v-for="(item, index) of UPDATE_LOG" :key="index" class="flex-container" style="flex-direction: column; align-items: center">
                                <button @click="tab.tabList[tab.currentTab][1] === index + 1 ? switchSubTab(0, 1) : switchSubTab(index + 1, 1)" class="whiteText fontVerdana generatorButton" style="margin: 0.25vw; border: 0.24vw solid #ffffff; height: 4vw; width: 30vw; font-size: 1.5vw;">
                                    {{ item.name }}
                                </button>
                                <div v-if="tab.tabList[tab.currentTab][1] === index + 1" class="whiteText fontVerdana generatorButton" style="text-align: center; margin: 0.25vw; padding: 1vw; border: 0.18vw solid #c0c0c0; font-size: 0.9vw;">
                                    <span v-html="item.desc"></span>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div id="options-cheats">
                        <div class="flex-horizontal">
                            <button id="timeSpeedSetCheatButton" class="fontTrebuchetMS canClick normalTabButton" style="width: 200px; height: 60px; font-size: 16px; margin: 2px;">
                                Set Time Speed<br>
                                Currently: <span id="timeSpeedCheat"></span>
                            </button>
                        </div>
                        <!-- <div class="flex-container" style="flex-direction: row; justify-content: center">
                            <Basic_Button @click="setTimeSpeed()" style="color: #f00; border: 0.2vw solid #f00;" :html="`Set Time Speed. Currently: ${format(player.setTimeSpeed, 2)}<br><span style='font-size: 0.6vw'><b>WARNING:</b> This will bug out if you use the offline time boost with this!</span>`"/>
                        </div> -->
                    </div>
                </div>
                <div id="buyables" class="flex-vertical">
                    <span class="whiteText fontTrebuchetMS" style="margin-bottom: 4px; text-align: center;">Every purchase of a buyable speeds up that buyable's cost growth.<br></span>
                    <span class="whiteText fontTrebuchetMS" style="margin-bottom: 4px; text-align: center;">You can only buy up to <span id="buyableCap"></span> purchases of a buyable.<br></span>
                    <div id='buyableList' class="flex-horizontal" style="flex-wrap: wrap; width: 1200px; margin: auto"></div>
                    <div class="flex-horizontal">
                        <div id="praiReset" class="flex-vertical" style="margin: 4px; margin-top: 10px;">
                            <button id="praiResetButton" class="whiteText buyableButton fontTrebuchetMS" style="width: 375px; height: 225px">
                                <h3>PRai: <span id="praiAmount"></span></h3>
                                Reset your progress to gain <span id="praiGain"></span> PRai.<br>
                                <span id="praiReq">Gain at least <span id="praiReqAmt"></span> more points to do a PRai reset.<br></span>
                                <span id="praiDesc"></span><br>
                                <br>You have <span id="praiAmt2"></span> PRai, which boosts your points by <span id="praiEffect"></span>&times;.
                                <br>Resetting now will boost your points by <span id="praiBoostEffect"></span>&times;
                            </button>
                        </div>
                        <div id="pr2Reset" class="flex-vertical" style="margin: 4px; margin-top: 10px;">
                            <button id="pr2ResetButton" class="whiteText buyableButton fontTrebuchetMS" style="width: 375px; min-height: 225px">
                                <h3>PR2: <span id="pr2Amount"></span></h3>
                                Reset your progress to ascend to the next PR2 level!<br>
                                Gain at least <span id="pr2ReqAmt"></span> PRai to do a PR2 reset.<br>
                                <div id="pr2Desc" class="whiteText fontTrebuchetMS"></div>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="upgrades" class="flex-vertical">
                    <span class="whiteText fontTrebuchetMS" style="margin-bottom: 4px;">You have <b><span id="praiAmt3"></span></b> PRai.</span>
                    <div id='upgradeList' class="flex-horizontal" style="flex-wrap: wrap; width: 1200px; margin: auto"></div>
                </div>
                <div id="kuaraniai" class="flex-vertical">
                    <span class="whiteText fontTrebuchetMS" style="margin-bottom: 4px;">You have <b><span id="praiAmt4"></span></b> PRai.</span>
                    <div class="flex-vertical" style="background-color: #80008080; width: 1200px;">
                        <div class="flex-horizontal kuaraniaiBorder" style="padding: 4px; width: 1196px;">
                            <div class="flex-vertical">
                                <span class="whiteText fontTrebuchetMS" style="font-size: 16px; margin-bottom: 8px;">You have <span id="kshardAmount"></span> Kua. Shards. (<span id="kshardGeneration"></span>/s)</span>
                                <div class="flex-horizontal">
                                    <div id="kshardStaticUpg" class="flex-horizontal" style="flex-wrap: wrap;">
                                        <!-- <button id="kshardStaticUpg${id}" class="whiteText fontTrebuchetMS kuaUpgradeButton" style="width: 200px; height: 200px; font-size: 12px;">
                                            <h3>Kua. Shard. Static Upgrade #`${id + 1}`</h3><br>
                                            <span id="`kshardSU${id}Effects`"></span><br>
                                            Cost: <span id="`kshardSU${id}Cost`"></span> Kua. S.<br>
                                        </button> -->
                                    </div>
                                    <div id="kshardDynamicUpg" class="flex-horizontal">
                                        <button id="kshardDynamicUpgButton" class="whiteText fontTrebuchetMS kuaUpgradeButton" style="width: 550px; font-size: 14px">
                                            <h3>Kua. S. Dynamic Upgrade: <span id="kshardDUAmount"></span></h3><br>
                                            Cost: <span id="kshardDUCost"></span> Kua. S.<br>
                                            <span id="kshardDUEffects"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-horizontal kuaraniaiBorder" style="margin-top: -4px; padding: 4px; width: 1196px;">
                            <div class="flex-vertical">
                                <span class="whiteText fontTrebuchetMS" style="font-size: 16px; margin-bottom: 8px;">You have <span id="kpowerAmount"></span> Kua. Power. (<span id="kpowerGeneration"></span>/s)<br></span>
                                <div class="flex-horizontal">
                                    <div id="kpowerStaticUpg" class="flex-horizontal" style="flex-wrap: wrap;">
                                        <!-- <button id="kpowerStaticUpg${id}" class="whiteText fontTrebuchetMS kuaUpgradeButton" style="width: 200px; height: 200px; font-size: 12px;">
                                            <h3>Kua. Shard. Static Upgrade #`${id + 1}`</h3><br>
                                            <span id="`kpowerSU${id}Effects`"></span><br>
                                            Cost: <span id="`kpowerSU${id}Cost`"></span> Kua. P.<br>
                                        </button> -->
                                    </div>
                                    <div id="kpowerDynamicUpg" class="flex-horizontal">
                                        <button id="kpowerDynamicUpgButton" class="whiteText fontTrebuchetMS kuaUpgradeButton" style="width: 550px; font-size: 14px">
                                            <h3>Kua. P. Dynamic Upgrade: <span id="kpowerDUAmount"></span></h3><br>
                                            Cost: <span id="kpowerDUCost"></span> Kua. P.<br>
                                            <span id="kpowerDUEffects"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="gameLoading">
                <div class="flex-container" style="background-color: #ffffff20">
                    <div style="flex-grow: 1; flex-basis: 0; text-align: left; text-shadow: #ffffff 0px 0px 2px;" class="bigText whiteText fontTrebuchetMS">
                        Loading...
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="src/main.ts"></script>
    </body>
</html>
